@charset "utf-8";
/* CSS Document */

#body {
	width : 80%;
	margin: auto;
}

#canvas {
	width : 80%;
	max-width: 640px;
}

#settings img {
	width: 40px;
	cursor: pointer;
}

#settingHolder {
	width : 100%;
	text-align: right;
	overflow: hidden;
}

#settingHolder table{
	display: inline-block;
	transition: all 0.8s;
	height: 0px;
}

#compact {
	width : 80%;
	max-width: 640px;
	height:auto;
}

#compact td {
	padding-left: 6px;
	padding-right: 6px;
}

#input {
	width : 100%;
}

#graph {

}

#error {
	color: red;
}
